<section class="vh-100" style="background-color: #fff5ea;">
  <div class="container py-5">
    <div class="card animate__animated animate__fadeIn">
      <div class="card-body">
        <div class="text-center mb-4">
          <h1 class="display-4 animate__animated animate__fadeInDown" style="font-family: 'Brush Script MT', cursive; color: #ff4500;">AuraEventi</h1>
          <h5 class="animate__animated animate__fadeInUp" style="font-family: 'Courier New', Courier, monospace; color: #000000;">Registra il tuo account</h5>
        </div>
        <form #registrazioneForm="ngForm" (ngSubmit)="register()" novalidate>
          <!-- Nome -->
          <div class="form-group row align-items-center animate__animated animate__fadeIn">
            <div class="icon-container">
              <i class="bi bi-person-fill"></i>
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="exampleInputName" name="name" placeholder="Nome" [(ngModel)]="name" required>
            </div>
          </div>
          <!-- Cognome -->
          <div class="form-group row align-items-center animate__animated animate__fadeIn">
            <div class="icon-container">
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="exampleInputSurname" name="surname" placeholder="Cognome" [(ngModel)]="surname" required>
            </div>
          </div>
          <!-- Data di Nascita -->
          <div class="form-group row align-items-center animate__animated animate__fadeIn">
            <div class="icon-container">
              <i class="bi bi-calendar-date-fill"></i>
            </div>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="exampleInputDOB" name="dob" placeholder="Data di Nascita" [(ngModel)]="dob" required>
            </div>
          </div>
          <!-- Email -->
          <div class="form-group row align-items-center animate__animated animate__fadeIn">
            <div class="icon-container">
              <i class="bi bi-envelope-fill"></i>
            </div>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email" [(ngModel)]="email" required email>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group row align-items-center animate__animated animate__fadeIn">
            <div class="icon-container">
              <i class="bi bi-lock-fill"></i>
            </div>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" [(ngModel)]="password" required minlength="6">
            </div>
          </div>
          <!-- Conferma Password -->
          <div class="form-group row align-items-center animate__animated animate__fadeIn">
            <div class="icon-container">
            </div>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="exampleInputConfirmPassword" name="confirmPassword" placeholder="Conferma Password" [(ngModel)]="confirmPassword" required>
            </div>
          </div>
          <!-- Pulsante Registrati -->
          <button type="submit" class="btn btn-dark btn-block animate__animated animate__fadeIn" [disabled]="!registrazioneForm.valid || success" style="background-color: #ff9100; border-color: #ff9100; width: 25%;">Registrati</button>
          <div class="space"></div>
        </form>
        <!-- Messaggio di errore per password non corrispondenti -->
        <div *ngIf="!success && registrazioneForm.valid && confirmPassword !== '' && !passwordsMatch()" class="alert alert-warning d-flex align-items-center animate__animated animate__fadeIn" role="alert">
          <i class="bi bi-exclamation-circle"></i> &nbsp; Le password inserite non corrispondono.
        </div>
        <!-- Messaggio di errore per email non valida -->
        <div *ngIf="!success && registrazioneForm.valid && !emailValid && passwordsMatch()" class="alert alert-warning d-flex align-items-center animate__animated animate__fadeIn" role="alert">
          <i class="bi bi-exclamation-circle"></i> &nbsp; Inserisci un'email valida.
        </div>
        <!-- Messaggio di errore per email già esistente -->
        <div *ngIf="!success && registrazioneForm.valid && errore" class="alert alert-danger d-flex align-items-center animate__animated animate__fadeIn" role="alert">
          <i class="bi bi-exclamation-circle"></i> &nbsp; Esiste già un account con questa email.
        </div>
        <!-- Messaggio di errore per form non valido -->
        <div *ngIf="!success && !registrazioneForm.valid && registrazioneForm.dirty && !passwordsMatch() && emailValid && !errore" class="alert alert-danger d-flex align-items-center animate__animated animate__fadeIn" role="alert">
          <i class="bi bi-exclamation-circle"></i> &nbsp; Compila correttamente tutti i campi.
        </div>
        <!-- Messaggio di successo -->
        <div *ngIf="success" class="alert alert-success d-flex align-items-center animate__animated animate__fadeIn" role="alert">
          <i class="bi bi-check-circle"></i> &nbsp; Registrazione effettuata con successo.
        </div>
      </div>
    </div>
  </div>
</section>
